<div class="left_col scroll-view">
  <div class="clearfix"></div>

  <!-- menu profile quick info -->
  <div class="profile clearfix">
    <div class="profile_pic">
      <img src="/static/images/img.jpg" alt="..." class="img-circle profile_img">
    </div>
    <div class="profile_info">
      <span>Welcome,</span>
      <h2> {{ current_user.username }} </h2>
    </div>
  </div>
  <!-- /menu profile quick info -->

  <br />

  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <h3>General</h3>
      <ul class="nav side-menu">

        <li><a href="/home"><i class="fa fa-home"></i> Home <span></span></a></li>

        <li><a><i class="fa fa-bar-chart-o"></i> DashExample <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/DashExample/app1">dash app1</a></li>
            <li><a href="/DashExample/app2">dash app2</a></li>
          </ul>
        </li>
        
        <li><a><i class="fa fa-cog"></i> Setting <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            {% if Is_admin %}
              <li><a href="/setting/add_user">Add User</a></li>
              <li><a href="/setting/delete_user">Delete User</a></li>
              <li><a href="/setting/setting_password">Setting User Password</a></li>
            {% else %}
              <li><a href="/setting/change_password">Change Password</a></li>
            {% endif %}
          </ul>
        </li>

      </ul>
    </div>
  </div>
  <!-- /sidebar menu -->

  <!-- /menu footer buttons -->
  <div class="sidebar-footer hidden-small">
    {% if Is_admin %}
    <a data-toggle="tooltip" data-placement="top" title="Admin Settings" href="/setting/add_user">
      <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
    </a>
    {% else %}
    <a data-toggle="tooltip" data-placement="top" title="Settings" href="/setting/change_password">
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
    </a>
    {% endif %}
    <a data-toggle="tooltip" data-placement="top" title="FullScreen">
      <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Lock">
      <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Logout" href="/logout">
      <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
    </a>
  </div>
  <!-- /menu footer buttons -->
</div>
